body{
    height: 1000px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}
.container{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 200px;
width: 100%;
}
.neon{
    background-color: rgb(47, 47, 116);
    color: white;
height:50px;
width: 200px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}
.neon:hover{
    cursor: pointer;
    box-shadow: 0 0 100px 50px rgb(255, 0, 119);
}
.neon:active{
    animation: but 0.9s infinite ease;
}
.in{
    color: white;
    height: 100px;
    width: 200px;
    background-color: blue;
    box-shadow: inset 3em 1em rgb(25, 1, 1) ;
}
.in_2{
    color: white;
    height: 100px;
    width: 200px;
    background-color: blue;
    box-shadow: inset 1em 2em rgb(25, 1, 1) ;
}
@keyframes but {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1.05)
    }
}
.log{
    color: white;
    background-color: rgb(0 0 255);
    height: 100px;
    width: 200px;
    box-shadow: 20px 30px 40px 50px rgb(132, 255, 0);
}
.Type1{
    box-shadow: 20px 40px red;
}
.Type2{
    box-shadow: -10px 40px red;
}
.Type3{
    box-shadow: 10px -40px red;
}


.Type11{
    background-color: blue;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 20px 40px red;
}
.Type22{
     background-color: blue;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -10px 40px red;
}
.Type33{
     background-color: blue;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px -40px red;
}



